<section>
    <h1>
        One of your products was deleted.
    </h1>

    <article>
        <img src="cid:banner" alt="">
    </article>

    <h4>Hello {{publicUser.name}}</h4>

    <p>I hope this message finds you well. I wanted to reach out to inform you that unfortunately, your product {{productToDelete._id}} on our
        e-commerce platform has been removed by our administrator. Upon a review of the content, it was found to be in
        violation of our site policies.</p>
</section>