<section>
    <h1>Restablece tu contraseña</h1>

    <article>
        <img src="cid:banner" alt="">
    </article>

    <h2> Este correo te permitirá restablecer tu contraseña</h2>
    <p>Recuerda que la nueva contraseña debe ser diferente a la anterior.</p>

    <p>Restablece tu contraseña haciendo click <a href="http://localhost:8080/restorePassword?token={{restoreToken}}">AQUI</a></p>

</section>