<section>

    <h1>Regístrate!</h1>

    {{!-- Formulario de Registro --}}
    <form id="register_frm">

        {{!-- Nombre --}}
        <label for="first_name">Nombre:</label>
        <input type="text" name="first_name" id="first_name">
        
        {{!-- Apellido --}}
        <label for="last_name">Apellido:</label>
        <input type="text" name="last_name" id="last_name">
        
        {{!-- E-mail --}}
        <label for="email">E-mail:</label>
        <input type="email" name="email" id="email">
        
        {{!-- Password --}}
        <label for="password">Password:</label>
        <input type="password" name="password" id="pass">

        <input type="submit">

    </form>
</section>


{{!-- Enlace al Archivo --}}
<script src="/js/register.js"></script>