<section>
    <h1>Escribe tu nueva contraseña</h1>

    <form id="restorePasswordFrm">
        <input name="password">
        <input type="submit" id="submitter">
    </form>
    <p id="message"></p>
</section>


<script src="/js/restorePassword.js"></script>