<section>
    <h1>Olvidaste tu Contrase침a?</h1>

    <h2>Sigue los pasos a continuaci칩n para restablecerla</h2>

    <p>Ingresa el correo con el que te registraste, si tu correo se encuentra en nuestra base de datos, recibir치s un
        mensaje para poder cambiar la contrase침a anterior.</p>

    <form id="restoreRequestFrm">
        <input name="email">
        <input type="submit" id="submitter">
    </form>
    <p id="message"></p>
</section>


<script src="/js/restoreRequest.js"></script>